.sign-in-container{
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;  
    
    .submit-btn{
        margin-top: 20px;
        width: 30%;
    }
    
    .log-in-form-input{
        margin-bottom: 15px;
        height: 60px;
        padding-left: 5px;
    }

    .log-in-link{
     display: flex;
     flex-direction: row;
     margin-top: 10px;   
    }
}

