.Nav-Bar{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 95px;
    height: 100vh;
    gap: 30px 10px;
    padding-top: 20px;
    position: fixed;
    

    .profile-picture-container{  
        display: flex;
        justify-content: center;
        .profile-picture{
            background-color: #56CC6A;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;

            .profile-picture-text{
                color: white;
                font-size: 1.5rem;
                margin-top: 11%;
            }
        }
       
    }

    .search-bar-container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .search-bar-icon{
            align-self: center;
        }
        .search-bar-text{
            margin-top: 5px;
            text-align: center;
        }
    }

    .create-blog-container{
        display: flex;
        flex-direction: column;
        .create-blog-icon{
            align-self: center;
        }
        .create-blog-text{
            margin-top: 5px;
            color:white;
            text-align: center;
        }
    }

    .sign-out-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        .sign-out-icon{
            align-self: center;
            margin-left: -7px;
            width: 45px;
            height: 50px;
        }
    }
}

@media (max-width:500px){
    .Nav-Bar{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        gap: 25%;
        bottom: 0;
        justify-content: space-evenly;
    }
}

