.blogs-page{
    margin-left: 1.5%;
   
    .blogs-container{
        margin-top:2% ;
    }
    .page-title{
        margin-top: 2%;
        font-family: 'Lexend Deca';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }   
}

@media screen and (max-width: 1100px)  {
    .blogs-page{
        margin-left: 6%;
    }
}
@media screen and (max-width: 900px) {
    .blogs-page{
        margin-left: 9%;
    }
}
@media screen and (max-width: 650px) {
    .blogs-page{
        margin-left: 12%;
    }
}

@media screen and (max-width: 500px) {
    .blogs-page{ 
        margin-left: 0;
        margin-bottom:100px;

        }
    
}