.blog-card{
    display: flex;
    flex-direction: column;
    .date{
        font-family: Lexend Deca;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.875rem;
        text-align: left;  
    }

    .blog-title{
        width: 100%;
        font-family: 'DM Serif Display';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.78rem;
        text-align: left;
        color: #56CC6A;
    }

    .blog-body{  
        width: 100%;
        margin-bottom: 4%;
        font-family: Lexend Deca;
        font-size: 1.25rem;
        font-weight: 200;
        line-height: 25px;
        text-align: left;       
    }

    img {
        height: 30%;
        object-fit: contain;
        margin-bottom: 3%;
        align-self: flex-start;
      }
    
}

@media (max-width:1100px){
    .blog-card{
     
        .date{
            font-size: 1.35rem;
            line-height: 1.6rem;
            margin-bottom: 2%;
        }
        .blog-title{
            font-size: 1.85rem;
            line-height: 1.5rem;
        }
        .blog-body{
            font-size: 1.18rem;
            line-height: 1.25rem;
        }
    }
}


@media (max-width:900px){
    .blog-card{
     
        .date{
            font-size: 1.25rem;
            line-height: 1.6rem;
            margin-bottom: 2%;
        }
        .blog-title{
            font-size: 1.75rem;
            line-height: 1.5rem;
        }
        .blog-body{
            font-size: 1.15rem;
            line-height: 1.25rem;
        }
    }
}

@media (max-width:550px){
    .blog-card{
       
        .date{
            font-size: 1rem;
            line-height: 1.6rem;
            margin-bottom: 2%;
        }
        .blog-title{
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
        .blog-body{
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.25rem;
        }
    }
}